body{
    margin: 0;
}

h1{
    text-align: center;
    color:white;
    margin: 0px auto;
    font-size: 60px;
    padding-top: 200px;
    
}
h2{
    text-align: center;
    color:white;
    margin: 0px auto;
    font-size: 60px;
    
}
.back{
    background-image: url("../image/donation7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    

}

p{
    text-align: center;
    font-weight: normal;
    color: white;
}

.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
    
}
.linkbtn{
    align-content: center;
    text-align: center;
    margin-top: 50px;
}