body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

h1{
    text-align: center;
    color:white;
    margin: 0px auto;
    font-size: 60px;
    padding-top: 200px;
    
}
h2{
    text-align: center;
    color:white;
    margin: 0px auto;
    font-size: 60px;
    
}
.back{
    background-image: url("../image/donation7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    

}

p{
    text-align: center;
    font-weight: normal;
    color: white;
}

.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
    
}
.linkbtn{
    align-content: center;
    text-align: center;
    margin-top: 50px;
}

.today-donation{
    height: 550px;
}

h3{
    font-size: 50px;
    text-align: center;
}

.todayp p{
    font-size: 16px;
    color: grey;

    
}

.donate-tk{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    
    
}

.money{
    background-color: whitesmoke;
    width: 140px;
    color: rgb(78, 77, 77);
    padding-left: 60px;
    border-radius: 8px;
    margin-top: 10px;
    
}

.money-border{
    background-color: rgb(245, 195, 186);
    width: 140px;
    color: tomato;
    padding-left: 60px;
    border-radius: 8px;
    margin-top: 10px;
    border: 3px solid tomato;
}

.amount p{ 
    color: blue;
    font-size: 20px;
    border-bottom: 1px solid rgb(180, 179, 179);
    

}